* {
    margin: 0;
    padding: 0;
}

#ump{
    font-size: large;
    font-weight: bold;
}
body {
    color: black;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    padding: 5px;
}
.bg-color{
    background-color: rgb(15, 15, 15);
    color: white;

}
.theme img{
    position:fixed;
    top: 40px;
    right: 10px;
    width: 80px;
    cursor: pointer;
}

header{
    position: sticky;
    top: 0;
}

nav{
    display:block;
    justify-content:flex-start;
    align-items: center;
    height: 30px;
    border: 1px black solid;
    border-radius:60px;
}
#MyProjects{
    display: flex;
    column-gap: 20%;
}

#MyProjects a{
    text-decoration: none;
    color: inherit;
    font-size: 22px;
}
#MyProjects p{
    font-style: italic;
}
#MyProjects img{
    width: 50px;
}
#MyProjects .pdetails{
    font-size: 15px;
}
.progress-dark {
    width: 0%;
    height: 5px;
    background-color: white;
    position: fixed;
    top: 33px;
    left: 0px;
    z-index: 999;
}
.note {
    margin-top: 30px !important;
    font-weight: bolder;
}
.progress {
    width: 0%;
    height: 5px;
    background-color: black;
    position: fixed;
    top: 33px;
    left: 0px;
    z-index: 999;
}

.navB{
    border: 1px white solid;
}

.left{
    /* font-size: 1.5rem; */
    font-style: italic;

}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding:4px;
    font-size: 20px;
}
.nav2 ul li a{
    text-decoration: none;
    color: white;
    padding:4px;
    font-size: 20px;
}
nav ul li a:hover{
    color: lavender;
    /* padding: 20px; */
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.cfirstsection .cleftsection{
    display: flex;
    justify-content: space-around;
    margin: 30px,0;
    width: 100%;
}
.cfirstsection .crightsection{
    font-style: italic;
    margin-top: px;
    padding: 30px;
}

.crightsection ul a{
    text-decoration: none;
    /* color: white; */
    margin: 10px;
}
.crightsection ul a:hover{
    color: lavender;
    padding: 10px;
}

.firstsection div{
    margin: 50px;
    width: 30%;
}

.leftsection{
font-size: 50px;
font-style: italic;
}
.rightsection img{
width: 466px;
max-width: 100%;
height: auto;
}
.name{
font-family:'Times New Roman', Times, serif ;
font-weight: bold;
}

.asection{
    max-width: auto;
    margin: auto;
    height: auto;
    padding: 20px;
}
.Esection{
    max-width: auto;
    margin: auto;
    height: auto;
    padding: 20px;
}
.csecondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondsection li{
    margin: 10px;
    font-style: italic;
}

main hr{
    border: solid #7c7cb0 1px  2px;
    margin: 10px;
    
}

.rightsection1 img{
    margin-top: 10px;
    max-width: 80%;
    height: auto;
}

#element{
    margin-top: 10px;
    margin: auto;
    font-size: 20px;
    font-style: normal;
}
#celement{
    margin-top: 50px;
    font-size: 25px;
    font-style: normal;
    text-align: right;
}

.firstsection .leftsection div img{
    width: 300px;
    max-width: 400%;
    padding: 30px;
    height: auto;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 60px;
}
.cfirstsection div img{
    width: 50%;
    padding: 30px;
    height: auto;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 60px;
}


.leftsectionmp{
    margin: 30px;
    font-size: 20px
}
.leftsectionmp p{
    margin: 10px;
    font-size: 20px
}
.leftsectionmp h3{
    margin: 5px;
    font-size: 20px
}
.secondsection{
    font-size: 25px;
    max-width: auto;
    margin: 25px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.leftsectionE{
    font-size: 25px;
    max-width: auto;
    margin: 25px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
#ins-name{
    font-size:large;
    font-weight:bold;
    margin-top: 10px;
}

.crightsection .Contact{
    color: black;
    margin: 20px;
    padding: 10px;
    width:auto;
}
.crightsection  .Contact img{
    width: 35px;
    border-radius: 0;
    padding: 1px;
}
h2{
    margin-left: 0;
    background: #4f46cf;
    background: linear-gradient(to left, #7646cf 0%, #e23f39 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        
}

.Contact a{
    margin: 12px;
}



@media  (max-width: 750px) {
    #MyProjects{
        display: flex;
        flex-direction: column;
    }
}
@media  (max-width: 600px) {
    nav ul li a{
        text-decoration: none;
        color: black;
        padding:4px;
        font-size: 12px !important;
    }
    .firstsection {
        flex-direction: column;
    }
    .secondsection {
        flex-direction: column;
    }
    .leftsection {
        font-size: 30px;
        font-style: italic;
      }      
      .firstsection div {
        margin: 30px;
        width: 30%;
      }
      .crightsection .Contact {
        color: black;
        margin: 0px;
        padding: 10px;
        width: 90%;
      }
      #element{
        margin-top: 10px;
        margin: auto;
        font-size: 15px;
        font-style: normal;
    }
    .leftsectionE{
        font-size: 16px;
        max-width: auto;
        margin: 25px;
        height: auto;
        display: flex;
        justify-content: flex-start;
    }
    #ins-name{
        font-size:12px;
        font-weight:bold;
        margin-top: 10px;
    }
    .secondsection{
        font-size: 16px;
    }
    #MyProjects a{
        text-decoration: none;
        color: inherit;
        font-size: 16px;
    }
    #MyProjects .pdetails{
        font-size: 12px;
    }
    .cfirstsection .crightsection{
        font-style: italic;
        margin-top: px;
        padding: 20px;
    }
    .cfirstsection div img{
        width: 50%;
        padding: 20px;
        height: auto;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 60px;
    }
}
